<!DOCTYPE html>
<html>
<head>
<title>Admin Délice Cake</title>
</head>

<body style="font-family:Arial; text-align:center;">

<h2>🔐 Admin Délice Cake</h2>

<form method="POST" enctype="multipart/form-data">

    <input type="password" name="password" placeholder="Mot de passe"><br><br>

    <input type="file" name="image" required><br><br>

    <input type="text" name="desc" placeholder="Description"><br><br>

    <input type="text" name="price" placeholder="Prix (ex: 5000)"><br><br>

    <input type="text" name="whatsapp" placeholder="Lien WhatsApp"><br><br>

    <select name="category">
        <option>Anniversaire</option>
        <option>Mariage</option>
        <option>Chocolat</option>
        <option>Sans crème</option>
        <option>Petit déjeuner</option>
    </select><br><br>

    <button type="submit"
        style="background:#d63384;color:white;padding:10px;border:none;border-radius:8px;">
        Publier 🍰
    </button>

</form>

</body>
</html>